In [ ]:
import pandas as pd
import numpy as np
import sqlite3

In [ ]:
conn = sqlite3.connect('airbnb.db')

In [ ]:
data_path = '/content/AB_NYC_2019.csv'
df = pd.read_csv(data_path)

In [ ]:
df.to_sql('listings', conn, if_exists='replace', index=False)

48895

In [ ]:
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("SELECT * FROM listings LIMIT 10;")

# Fetch the results
results = cursor.fetchall()

# Display the first 10 rows
for row in results:
    print(row)

(2539, 'Clean & quiet apt home by the park', 2787, 'John', 'Brooklyn', 'Kensington', 40.64749, -73.97237, 'Private room', 149, 1, 9, '2018-10-19', 0.21, 6, 365)
(2595, 'Skylit Midtown Castle', 2845, 'Jennifer', 'Manhattan', 'Midtown', 40.75362, -73.98377, 'Entire home/apt', 225, 1, 45, '2019-05-21', 0.38, 2, 355)
(3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 4632, 'Elisabeth', 'Manhattan', 'Harlem', 40.80902, -73.9419, 'Private room', 150, 3, 0, None, None, 1, 365)
(3831, 'Cozy Entire Floor of Brownstone', 4869, 'LisaRoxanne', 'Brooklyn', 'Clinton Hill', 40.68514, -73.95976, 'Entire home/apt', 89, 1, 270, '2019-07-05', 4.64, 1, 194)
(5022, 'Entire Apt: Spacious Studio/Loft by central park', 7192, 'Laura', 'Manhattan', 'East Harlem', 40.79851, -73.94399, 'Entire home/apt', 80, 10, 9, '2018-11-19', 0.1, 1, 0)
(5099, 'Large Cozy 1 BR Apartment In Midtown East', 7322, 'Chris', 'Manhattan', 'Murray Hill', 40.74767, -73.975, 'Entire home/apt', 200, 3, 74, '2019-06-22', 0.59, 1, 129)
(5121, 'BlissArtsSpace!', 7356, 'Garon', 'Brooklyn', 'Bedford-Stuyvesant', 40.68688, -73.95596, 'Private room', 60, 45, 49, '2017-10-05', 0.4, 1, 0)
(5178, "Large Furnished Room Near B'way ", 8967, 'Shunichi', 'Manhattan', "Hell's Kitchen", 40.76489, -73.98493, 'Private room', 79, 2, 430, '2019-06-24', 3.47, 1, 220)
(5203, 'Cozy Clean Guest Room - Family Apt', 7490, 'MaryEllen', 'Manhattan', 'Upper West Side', 40.80178, -73.96723, 'Private room', 79, 2, 118, '2017-07-21', 0.99, 1, 0)
(5238, 'Cute & Cozy Lower East Side 1 bdrm', 7549, 'Ben', 'Manhattan', 'Chinatown', 40.71344, -73.99037, 'Entire home/apt', 150, 1, 160, '2019-06-09', 1.33, 4, 188)

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT * FROM listings")

results = cursor.fetchall()

In [ ]:
results = cursor.fetchall()

In [ ]:
for i, row in enumerate(results[:10]):
    print(10)

In [ ]:
cursor.execute("SELECT * FROM listings ")

In [ ]:
count = cursor.fetchone()[0]
print("Total number of records in the 'listings' table:", count)

Total number of records in the 'listings' table: 2539

In [ ]:
cursor.execute("""
    SELECT neighbourhood_group, neighbourhood, AVG(price) AS avg_price
    FROM listings
    -- insert a group by neighbourhood_group and neighbourhood
    -- insert a descending order by avg_price
    LIMIT 10;
""")

In [ ]:
results = cursor.fetchall()

In [ ]:
for row in results:
    print(row)

('Brooklyn', 'Kensington', 152.7206871868289)

In [ ]:
cursor.execute("""
    SELECT room_type, COUNT(*) AS num_listings
    FROM listings
    GROUP BY room_type;
""")
results = cursor.fetchall()

In [ ]:
for row in results:
    print(row)

('Entire home/apt', 25409)
('Private room', 22326)
('Shared room', 1160)

In [ ]:
cursor.execute("""
    SELECT AVG(number_of_reviews) AS avg_reviews
    FROM listings;
""")

# Completed
result = cursor.fetchone()
# Print the average number of reviews per listing
print("Average number of reviews per listing:", result[0])

Average number of reviews per listing: 23.274465691788528

In [ ]:
cursor.execute("""
    SELECT id
    FROM listings
    WHERE number_of_reviews = (
        SELECT MIN(number_of_reviews)
        FROM listings
    )
    LIMIT 15;
""")

# Completed
results = cursor.fetchall()

In [ ]:
for row in results:
    print(row)

(3647,)
(7750,)
(8700,)
(11452,)
(11943,)
(51438,)
(54466,)
(63588,)
(63913,)
(64015,)
(65556,)
(89427,)
(94209,)
(118680,)
(145188,)

In [ ]:
cursor.execute("""
    SELECT neighbourhood, price
    FROM listings
    WHERE neighbourhood = 'Chelsea'
      AND price <= 200;
""")
results = cursor.fetchall()

# Display results
for row in results:
    print(row)

('Chelsea', 140)
('Chelsea', 150)
('Chelsea', 98)
('Chelsea', 125)
('Chelsea', 123)
('Chelsea', 130)
('Chelsea', 132)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 149)
('Chelsea', 199)
('Chelsea', 195)
('Chelsea', 95)
('Chelsea', 125)
('Chelsea', 139)
('Chelsea', 50)
('Chelsea', 200)
('Chelsea', 130)
('Chelsea', 170)
('Chelsea', 135)
('Chelsea', 125)
('Chelsea', 135)
('Chelsea', 200)
('Chelsea', 199)
('Chelsea', 72)
('Chelsea', 140)
('Chelsea', 155)
('Chelsea', 105)
('Chelsea', 99)
('Chelsea', 179)
('Chelsea', 65)
('Chelsea', 109)
('Chelsea', 200)
('Chelsea', 125)
('Chelsea', 124)
('Chelsea', 160)
('Chelsea', 70)
('Chelsea', 176)
('Chelsea', 160)
('Chelsea', 175)
('Chelsea', 90)
('Chelsea', 125)
('Chelsea', 119)
('Chelsea', 93)
('Chelsea', 93)
('Chelsea', 199)
('Chelsea', 180)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 98)
('Chelsea', 96)
('Chelsea', 140)
('Chelsea', 200)
('Chelsea', 76)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 90)
('Chelsea', 161)
('Chelsea', 92)
('Chelsea', 200)
('Chelsea', 90)
('Chelsea', 200)
('Chelsea', 84)
('Chelsea', 75)
('Chelsea', 200)
('Chelsea', 189)
('Chelsea', 199)
('Chelsea', 139)
('Chelsea', 90)
('Chelsea', 80)
('Chelsea', 160)
('Chelsea', 150)
('Chelsea', 159)
('Chelsea', 119)
('Chelsea', 110)
('Chelsea', 85)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 93)
('Chelsea', 93)
('Chelsea', 90)
('Chelsea', 165)
('Chelsea', 160)
('Chelsea', 93)
('Chelsea', 179)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 95)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 200)
('Chelsea', 95)
('Chelsea', 125)
('Chelsea', 175)
('Chelsea', 115)
('Chelsea', 159)
('Chelsea', 120)
('Chelsea', 160)
('Chelsea', 199)
('Chelsea', 110)
('Chelsea', 160)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 109)
('Chelsea', 199)
('Chelsea', 195)
('Chelsea', 165)
('Chelsea', 163)
('Chelsea', 105)
('Chelsea', 150)
('Chelsea', 150)
('Chelsea', 100)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 100)
('Chelsea', 130)
('Chelsea', 100)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 145)
('Chelsea', 99)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 135)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 170)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 170)
('Chelsea', 118)
('Chelsea', 175)
('Chelsea', 200)
('Chelsea', 120)
('Chelsea', 175)
('Chelsea', 135)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 129)
('Chelsea', 129)
('Chelsea', 95)
('Chelsea', 160)
('Chelsea', 140)
('Chelsea', 109)
('Chelsea', 200)
('Chelsea', 116)
('Chelsea', 112)
('Chelsea', 200)
('Chelsea', 129)
('Chelsea', 136)
('Chelsea', 109)
('Chelsea', 193)
('Chelsea', 140)
('Chelsea', 130)
('Chelsea', 180)
('Chelsea', 139)
('Chelsea', 100)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 182)
('Chelsea', 98)
('Chelsea', 160)
('Chelsea', 150)
('Chelsea', 126)
('Chelsea', 195)
('Chelsea', 100)
('Chelsea', 199)
('Chelsea', 175)
('Chelsea', 195)
('Chelsea', 80)
('Chelsea', 200)
('Chelsea', 50)
('Chelsea', 85)
('Chelsea', 199)
('Chelsea', 170)
('Chelsea', 159)
('Chelsea', 175)
('Chelsea', 145)
('Chelsea', 52)
('Chelsea', 175)
('Chelsea', 81)
('Chelsea', 120)
('Chelsea', 139)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 46)
('Chelsea', 180)
('Chelsea', 120)
('Chelsea', 130)
('Chelsea', 119)
('Chelsea', 70)
('Chelsea', 125)
('Chelsea', 165)
('Chelsea', 65)
('Chelsea', 80)
('Chelsea', 200)
('Chelsea', 84)
('Chelsea', 70)
('Chelsea', 110)
('Chelsea', 142)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 175)
('Chelsea', 179)
('Chelsea', 85)
('Chelsea', 165)
('Chelsea', 200)
('Chelsea', 185)
('Chelsea', 100)
('Chelsea', 125)
('Chelsea', 55)
('Chelsea', 75)
('Chelsea', 195)
('Chelsea', 75)
('Chelsea', 100)
('Chelsea', 191)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 175)
('Chelsea', 170)
('Chelsea', 179)
('Chelsea', 105)
('Chelsea', 130)
('Chelsea', 154)
('Chelsea', 85)
('Chelsea', 75)
('Chelsea', 165)
('Chelsea', 165)
('Chelsea', 110)
('Chelsea', 90)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 185)
('Chelsea', 150)
('Chelsea', 135)
('Chelsea', 199)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 125)
('Chelsea', 195)
('Chelsea', 90)
('Chelsea', 155)
('Chelsea', 143)
('Chelsea', 150)
('Chelsea', 185)
('Chelsea', 139)
('Chelsea', 175)
('Chelsea', 129)
('Chelsea', 90)
('Chelsea', 109)
('Chelsea', 80)
('Chelsea', 110)
('Chelsea', 180)
('Chelsea', 110)
('Chelsea', 120)
('Chelsea', 179)
('Chelsea', 110)
('Chelsea', 180)
('Chelsea', 200)
('Chelsea', 78)
('Chelsea', 120)
('Chelsea', 150)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 125)
('Chelsea', 149)
('Chelsea', 200)
('Chelsea', 181)
('Chelsea', 156)
('Chelsea', 60)
('Chelsea', 150)
('Chelsea', 120)
('Chelsea', 128)
('Chelsea', 165)
('Chelsea', 110)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 95)
('Chelsea', 85)
('Chelsea', 85)
('Chelsea', 115)
('Chelsea', 196)
('Chelsea', 130)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 125)
('Chelsea', 99)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 160)
('Chelsea', 103)
('Chelsea', 100)
('Chelsea', 82)
('Chelsea', 100)
('Chelsea', 90)
('Chelsea', 190)
('Chelsea', 100)
('Chelsea', 89)
('Chelsea', 139)
('Chelsea', 200)
('Chelsea', 57)
('Chelsea', 95)
('Chelsea', 105)
('Chelsea', 134)
('Chelsea', 180)
('Chelsea', 69)
('Chelsea', 195)
('Chelsea', 89)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 68)
('Chelsea', 149)
('Chelsea', 150)
('Chelsea', 90)
('Chelsea', 85)
('Chelsea', 149)
('Chelsea', 90)
('Chelsea', 140)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 185)
('Chelsea', 130)
('Chelsea', 135)
('Chelsea', 175)
('Chelsea', 189)
('Chelsea', 49)
('Chelsea', 65)
('Chelsea', 140)
('Chelsea', 140)
('Chelsea', 105)
('Chelsea', 155)
('Chelsea', 100)
('Chelsea', 130)
('Chelsea', 150)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 128)
('Chelsea', 110)
('Chelsea', 169)
('Chelsea', 175)
('Chelsea', 170)
('Chelsea', 40)
('Chelsea', 164)
('Chelsea', 162)
('Chelsea', 195)
('Chelsea', 154)
('Chelsea', 165)
('Chelsea', 75)
('Chelsea', 89)
('Chelsea', 95)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 160)
('Chelsea', 125)
('Chelsea', 195)
('Chelsea', 99)
('Chelsea', 169)
('Chelsea', 165)
('Chelsea', 149)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 170)
('Chelsea', 82)
('Chelsea', 95)
('Chelsea', 128)
('Chelsea', 180)
('Chelsea', 85)
('Chelsea', 120)
('Chelsea', 185)
('Chelsea', 159)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 155)
('Chelsea', 12)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 99)
('Chelsea', 200)
('Chelsea', 109)
('Chelsea', 149)
('Chelsea', 135)
('Chelsea', 115)
('Chelsea', 152)
('Chelsea', 84)
('Chelsea', 110)
('Chelsea', 175)
('Chelsea', 159)
('Chelsea', 88)
('Chelsea', 75)
('Chelsea', 115)
('Chelsea', 150)
('Chelsea', 115)
('Chelsea', 75)
('Chelsea', 84)
('Chelsea', 150)
('Chelsea', 127)
('Chelsea', 63)
('Chelsea', 180)
('Chelsea', 146)
('Chelsea', 98)
('Chelsea', 80)
('Chelsea', 99)
('Chelsea', 80)
('Chelsea', 150)
('Chelsea', 96)
('Chelsea', 186)
('Chelsea', 185)
('Chelsea', 172)
('Chelsea', 199)
('Chelsea', 70)
('Chelsea', 89)
('Chelsea', 70)
('Chelsea', 150)
('Chelsea', 85)
('Chelsea', 190)
('Chelsea', 190)
('Chelsea', 175)
('Chelsea', 120)
('Chelsea', 170)
('Chelsea', 75)
('Chelsea', 140)
('Chelsea', 100)
('Chelsea', 68)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 99)
('Chelsea', 179)
('Chelsea', 199)
('Chelsea', 50)
('Chelsea', 92)
('Chelsea', 69)
('Chelsea', 150)
('Chelsea', 98)
('Chelsea', 115)
('Chelsea', 85)
('Chelsea', 155)
('Chelsea', 165)
('Chelsea', 175)
('Chelsea', 149)
('Chelsea', 120)
('Chelsea', 200)
('Chelsea', 77)
('Chelsea', 150)
('Chelsea', 93)
('Chelsea', 200)
('Chelsea', 85)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 167)
('Chelsea', 200)
('Chelsea', 154)
('Chelsea', 175)
('Chelsea', 110)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 91)
('Chelsea', 140)
('Chelsea', 90)
('Chelsea', 175)
('Chelsea', 195)
('Chelsea', 137)
('Chelsea', 65)
('Chelsea', 200)
('Chelsea', 69)
('Chelsea', 165)
('Chelsea', 200)
('Chelsea', 175)
('Chelsea', 100)
('Chelsea', 189)
('Chelsea', 200)
('Chelsea', 180)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 125)
('Chelsea', 170)
('Chelsea', 114)
('Chelsea', 66)
('Chelsea', 85)
('Chelsea', 200)
('Chelsea', 150)
('Chelsea', 175)
('Chelsea', 139)
('Chelsea', 110)
('Chelsea', 138)
('Chelsea', 133)
('Chelsea', 130)
('Chelsea', 138)
('Chelsea', 160)
('Chelsea', 75)
('Chelsea', 80)
('Chelsea', 68)
('Chelsea', 200)
('Chelsea', 200)
('Chelsea', 190)
('Chelsea', 190)
('Chelsea', 180)
('Chelsea', 100)
('Chelsea', 92)
('Chelsea', 86)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 100)
('Chelsea', 99)
('Chelsea', 99)
('Chelsea', 180)
('Chelsea', 180)
('Chelsea', 175)
('Chelsea', 99)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 139)
('Chelsea', 123)
('Chelsea', 65)
('Chelsea', 200)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 100)
('Chelsea', 149)
('Chelsea', 80)
('Chelsea', 150)
('Chelsea', 140)
('Chelsea', 149)
('Chelsea', 139)
('Chelsea', 180)
('Chelsea', 83)
('Chelsea', 175)
('Chelsea', 199)
('Chelsea', 140)
('Chelsea', 140)
('Chelsea', 100)
('Chelsea', 75)
('Chelsea', 120)
('Chelsea', 185)
('Chelsea', 170)
('Chelsea', 115)
('Chelsea', 110)
('Chelsea', 150)
('Chelsea', 154)
('Chelsea', 200)
('Chelsea', 99)
('Chelsea', 199)
('Chelsea', 162)
('Chelsea', 99)
('Chelsea', 150)
('Chelsea', 130)
('Chelsea', 110)
('Chelsea', 100)
('Chelsea', 180)
('Chelsea', 195)
('Chelsea', 199)
('Chelsea', 129)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 199)
('Chelsea', 129)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 149)
('Chelsea', 159)
('Chelsea', 159)
('Chelsea', 159)
('Chelsea', 134)
('Chelsea', 129)
('Chelsea', 85)
('Chelsea', 159)
('Chelsea', 195)
('Chelsea', 85)
('Chelsea', 140)
('Chelsea', 109)
('Chelsea', 199)
('Chelsea', 159)
('Chelsea', 100)
('Chelsea', 93)
('Chelsea', 89)
('Chelsea', 154)
('Chelsea', 120)
('Chelsea', 199)
('Chelsea', 150)
('Chelsea', 195)
('Chelsea', 180)
('Chelsea', 198)
('Chelsea', 105)
('Chelsea', 85)
('Chelsea', 175)
('Chelsea', 200)
('Chelsea', 89)
('Chelsea', 105)
('Chelsea', 105)
('Chelsea', 125)
('Chelsea', 185)
('Chelsea', 150)
('Chelsea', 67)
('Chelsea', 150)
('Chelsea', 181)
('Chelsea', 109)
('Chelsea', 75)
('Chelsea', 75)
('Chelsea', 155)

In [ ]:
cursor.close()
conn.close()